framework:
    messenger:
        default_bus: command.bus
        buses:
            command.bus:
                middleware:
                    - validation
            sync.command.bus:
                middleware:
                    - validation
            async.command.bus:
                middleware:
                    - validation
            query.bus:
                middleware:
                    - validation
            event.bus:
                default_middleware:
                    enabled: true
                    allow_no_handlers: false
                    allow_no_senders: true
                middleware:
                    - validation

            core.bus:
                default_middleware:
                    enabled: true
                    allow_no_handlers: true
                    allow_no_senders: true
                middleware:
                    - validation
        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        async: ~
                retry_strategy:
                    max_retries: 0
            async.priority:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        async.priority: ~
                retry_strategy:
                    max_retries: 0
            core:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                serializer: App\Infrastructure\Core\Serializer\JsonMessageSerializer
                options:
                    exchange:
                        name: 'core'
                        type: 'direct'
                    queues:
                        core.get_video:
                            binding_keys: [core.get_video]
                        core.extract_sound:
                            binding_keys: [core.extract_sound]
                        core.generate_subtitle:
                            binding_keys: [core.generate_subtitle]
                        core.transform_subtitle:
                            binding_keys: [core.transform_subtitle]
                        core.resize_video:
                            binding_keys: [core.resize_video]
                        core.embed_video:
                            binding_keys: [core.embed_video]
                        core.chunk_video:
                            binding_keys: [core.chunk_video]
                        core.resume_video:
                            binding_keys: [core.resume_video]
                retry_strategy:
                    max_retries: 0

        routing:
            'App\Shared\Application\Command\AsynchronousInterface': async
            'App\Shared\Application\Command\AsynchronousPriorityInterface': async.priority
            'App\Shared\Application\Message\AsynchronousMessageInterface': core