framework:
    workflows:
        streams:
            type: 'state_machine'
            marking_store:
                type: 'method'
                property: 'status'
            supports:
                - App\Domain\Stream\Entity\Stream
            initial_marking: created
            places:
                - created
                - failed
                - completed

                - uploaded
                - uploading
                - upload_failed

                - extracting_sound
                - extracting_sound_failed
                - extracting_sound_completed

                - generating_subtitle
                - generating_subtitle_failed
                - generating_subtitle_completed

                - transforming_subtitle
                - transforming_subtitle_failed
                - transforming_subtitle_completed
                
                - resizing_video
                - resizing_video_failed
                - resizing_video_completed

                - embedding_video
                - embedding_video_failed
                - embedding_video_completed

                - chunking_video
                - chunking_video_failed
                - chunking_video_completed

                - resuming
                - resuming_failed
                - resuming_completed

                - completed

            transitions:
                uploading:
                    from: created
                    to:   uploading
                upload_failed:
                    from: uploading
                    to:   upload_failed
                uploaded_simple:
                    from: created
                    to:   uploaded
                uploaded:
                    from: uploading
                    to:   uploaded
                
                extracting_sound:
                    from: uploaded
                    to:   extracting_sound
                extracting_sound_failed:
                    from: extracting_sound
                    to:   extracting_sound_failed
                extracting_sound_completed:
                    from: extracting_sound
                    to:   extracting_sound_completed
                
                generating_subtitle:
                    from: extracting_sound_completed
                    to:   generating_subtitle
                generating_subtitle_failed:
                    from: generating_subtitle
                    to:   generating_subtitle_failed
                generating_subtitle_completed:
                    from: generating_subtitle
                    to:   generating_subtitle_completed
                
                transforming_subtitle:
                    from: generating_subtitle_completed
                    to:   transforming_subtitle
                transforming_subtitle_failed:
                    from: transforming_subtitle
                    to:   transforming_subtitle_failed
                transforming_subtitle_completed:
                    from: transforming_subtitle
                    to:   transforming_subtitle_completed

                resizing_video:
                    from: transforming_subtitle_completed
                    to:   resizing_video
                resizing_video_failed:
                    from: resizing_video
                    to:   resizing_video_failed
                resizing_video_completed:
                    from: resizing_video
                    to:   resizing_video_completed
                
                embedding_video:
                    from: resizing_video_completed
                    to:   embedding_video
                embedding_video_failed:
                    from: embedding_video
                    to:   embedding_video_failed
                embedding_video_completed:
                    from: embedding_video
                    to:   embedding_video_completed

                chunking_video:
                    from: embedding_video_completed
                    to:   chunking_video
                chunking_video_failed:
                    from: chunking_video
                    to:   chunking_video_failed
                chunking_video_completed:
                    from: chunking_video
                    to:   chunking_video_completed

                resuming:
                    from: chunking_video_completed
                    to:   resuming
                resuming_failed:
                    from: resuming
                    to:   resuming_failed
                resuming_completed:
                    from: resuming
                    to:   resuming_completed

                completed_resume_failed:
                    from: resuming_failed
                    to:   completed
                completed_no_resume:
                    from: chunking_video_completed
                    to:   completed
                completed:
                    from: resuming_completed
                    to:   completed